/* Mobile Menu */
#nav-main {
	display: none;
}
@media screen and (min-width: 680px) {
	a.icon {
		display: none;
	}
 /* #nav-main {
  	display: flex;
  }*/
}
a.icon {
	position: absolute;
	top: 1px;
	right: 6px;
	height:28px;
	width:28px;
	cursor: pointer; /* hand */
	z-index: 1000; /* ganz vorne */
	background-image: url(../bilder/bars-icon.png);
	background-size:cover;
}
@media screen and (max-width: 680px) {
	#nav-main.responsive {
		display: initial;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.8);
		position: fixed;
		left: 0;
		top: 3rem; /* unter nav-top */
	}
}